/* ======================================================================= 
	Main CSS File
======================================================================= */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
	font-family: 'Montserrat', sans-serif;
	color: white;
	background-color: #003366;
	text-align: center;
}

.top-section {
	height: 80vh;
}

.top-section-fade {
    background: linear-gradient(#003366, #002040);
	height: 10vh;
}

.section-dark {
	padding-top: 40px;
	padding-bottom: 60px;
	box-shadow: 10px 10px;
	background-color: #002040;
}

.section-light {
	padding-top: 40px;
	padding-bottom: 60px;
	box-shadow: 10px 10px;
	background-color: #003366;
}

.bottom-section {
	height: 200px;
}

.bottom-section-fade {
    background: linear-gradient(#002040, #003366);
	height: 100px;
}

input.transparent-input{
   background-color:rgba(0,0,0,0) !important;
   color: white;
}

textarea.transparent-input{
   background-color:rgba(0,0,0,0) !important;
   color: white;
}

.title {
	font-size: 46px;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 30vh;
}

.subtitle {
	font-size: 24px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
}

.heading {
	font-size: 44px;
	font-weight: bold;
}

.subheading {
	font-size: 30px;
}

.infotitle {
	font-size: 32px;
}

.textsmall{
	font-size: 16px;
}

.infotext {
	font-size: 20px;
	text-align: left;
}

.row {
	height: 300px;
	padding: 0;
	margin: 0;
}

.center {
	width: 800px;
	padding: 0;
	margin: auto;
}

.block{
	top: 0px;
	display: inline-block;
	height: 250px;
	width: 200px;
	padding: 0;
	margin: 0;
}

.progress {
	display: inline-block;
}

.block-text-left {
	height: 300px;
	width: 700px;
	padding: 10px;
	display: inline-block;
	float: left;
}

.block-left {
	height: 300px;
	width: 400px;
	padding: 10px;
	display: inline-block;
	float: left;
}


.block-text-right {
	height: 300px;
	width: 700px;
	padding: 10px;
	display: inline-block;
	float: right;
}
.block-right {
	height: 300px;
	width: 400px;
	padding: 10px;
	display: inline-block;
	float: right;
}